@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit";
}

/* Add this CSS to your global styles or a component-specific CSS file */

.custom-scrollbar::-webkit-scrollbar {
    width: 0px; /* Set small width for scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Light background for scrollbar track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Darker scrollbar handle */
    border-radius: 10px; /* Rounded corners for the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Darker on hover */
  }
  